h1{
    color: rgb(8, 8, 8);
        text-align: center;
        background: rgb(252, 139, 191);
        border: 3px solid rgb(247, 144, 216);
        border-radius: 10px;
        padding: .7rem 2.5rem;
         
}
.carrusel{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.carrusel ul {
list-style: none;
margin: 0;
padding: 0;
max-width: 1030px;
}

.carrusel-fotos{
    display: flex;
    gap: 10px;
    overflow: auto;
}

.carrusel-fotos img {
    background: white;
    border: 3px solid rgb(247, 144, 216);
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.carrusel-menu{
    display: none;
}
@media screen and (min-width: 500px){
    .carrusel-fotos{
        overflow: hidden;
    } 
    .carrusel-fotos img {
        width: 500px;
        height: 400px;

    } 
    .carrusel-menu{
        display: block;
    } 
    .carrusel-menu img{
        box-sizing: border-box;
        width: 50px;
        height: 40px;
        border: 3px solid rgb(247, 144, 216);
    }
    .carrusel-menu img:hover{
        border: none;

    }
    .btn-primary{
        color: rgb(8, 8, 8);
        text-align: center;
        background: rgb(252, 139, 191);
        border: 3px solid rgb(247, 144, 216);
        border-radius: 10px;
        padding: .7rem 2.5rem;
        font-size: 1.25rem;
    }
.body{
    width: 50px;
    height: 40px;
}
}







